body {
  padding-top: 54px;
}

.row, .headings {
	margin-top: 10px;
}

.wikiHeading {
	display: inline-block;
	float:left;
}
/* Wiki Table */
#wikisTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#wikisTable td, #wikisTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#wikisTable tr:nth-child(even){background-color: #f2f2f2;}

#wikisTable tr:hover {background-color: #ddd;}

#wikisTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #007bff!important;
  color: white;
}

@media (max-width: @screen-xs-max) {  }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {  }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {  }
@media (min-width: @screen-lg-min) {  }